
/*
* Start Loader Styles
*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
#loader {
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #e2431b;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
/*
* End Loader Styles
*/

#callToAction{
    height:868px;
    display: block;
    /*border-bottom: 2px solid red;*/
    background-color: black;
    background-image: url('https://i.redd.it/059ri6oupr521.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 480px;
}



#aboutMe{
    padding-top:200px;
    display: block;
    background:#FFEB97;
    height:768px;
    color:black;
}

#what{
  padding-top:200px;
  display: block;
  background:#C70151;
  color:#fff;
  height:768px;
}
#how{
  padding-top:200px;
  display: block;
  background:#43CDB3;
  height:768px;
  color:navy;

}
#why{
  padding-top:200px;
  display: block;
  background:#034C67;
  height:768px;
  color:#fff;

}
#contact{
  padding-top:200px;
  display: block;
  background:#fff;
  height:768px;
  color:#222;

}

.centerIt{
    width:80%;
    margin: 0 auto;
    text-align: center;
}

.customSection{
  min-height:860px;
  display: block;

}


.sassy{
    color:rgb(2, 2, 2);
    border:1px #fff solid;
    border-radius: 22px;
    padding:20px 40px 20px 40px;
    font-family:fantasy;
    font-size:2rem;
    background:rgb(226, 219, 219);
    opacity: .7;
}
.sassy:hover{
    background:rgb(210, 250, 210);
    font-size:2.1rem;


}

.bigFont{
  font-size:2rem;
  margin-bottom: 50px;
}